<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Nos Marques</title>
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <h1>Toutes nos Marques :</h1><br>
        <a href="{{ path('create_brand') }}">Création d'une marque</a>
        <table>
            {% for inter in Brand %}
                <tr>
                    <th>{{ inter.Name }} <a href="{{ path('update_brand', {'id': inter.id}) }}"> Modifier</a> <a href="{{ path('delete_brand', {'id': inter.id}) }}">Supprimer</a></th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
