<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/datatables.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css') }}">
    </head>
    <body>
        <h1>Toutes nos Modèles :</h1><br>
        <table id="Tab" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Marque</th>
                    <th>Model</th>
                    <th>Couleur</th>
                    <th>NB Assise</th>
                </tr>
            </thead>
        </table>
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/datatables.min.js') }}"></script>
        <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
        <script>
            $(function() {
                $('#Tab').DataTable({
                    "language": {
                        "url": "{{ asset('translate/fr.json') }}"
                    },
                    "processing": true,
                    "ajax": {
                        "url": "{{ path('request_vehicule') }}",
                        "type": "post"
                    },
                    "sAjaxDataProp": "data",
                    "pageLength": 10,
                    "pagingType": "full_numbers",
                    "info": false,
                    "columns":[
                        {"data": "Type"},
                        {"data": "Marque",    "targets": 0 },
                        {"data": "Model"},
                        {"data": "Color"},
                        {"data": "Seat"},

                    ],
                });
            });
        </script>
    </body>
</html>
