<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bootstrap/dist/css/bootstrap.css') }}">
    </head>
    <body>
        <div class="count">
        </div>
        <h1 class="d-flex justify-content-center">Toutes nos Modèles :</h1><br>
        Nombre de véhicule disponible : {{ Vehicule.getTotalItemCount }}
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="text-center">Type</th>
                <th scope="col" class="text-center">Marque</th>
                <th scope="col" class="text-center">Model</th>
                <th scope="col" class="text-center">Couleur</th>
                <th scope="col" class="text-center">NB Siège</th>
            </tr>
            </thead>
            {% for inter in Vehicule %}
                <tr>
                    <th scope="row" class="text-center">{{ inter.kind }}</th>
                    <th scope="row" class="text-center">{{ inter.brand }}</th>
                    <th scope="row" class="text-center">{{ inter.model }}</th>
                    <th scope="row" class="text-center">{{ inter.color }}</th>
                    <th scope="row" class="text-center">{{ inter.seat }}</th>
                </tr>
            {% endfor %}
            </thead>
        </table>
        {{ knp_pagination_render(Vehicule) }}
        <script src="{{ asset('jquery/dist/jquery.js') }}"></script>
        <script src="{{ asset('bootstrap/dist/js/bootstrap.js') }}"></script>
    </body>
</html>
