<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Nos models</title>
    </head>
    <body>
        {% for flashMessage in app.session.flashbag.get('error') %}
            {{ flashMessage }}
        {% endfor %}
        <h1>Toutes nos Modèles :</h1><br>
        <table>
            <a href="{{ path('create_model') }}">Création d'un model</a>
            {% for inter in Color %}
                <tr>
                    <th>{{ inter.Name }}<a href="{{ path('update_model', {'id': inter.id}) }}">Modifier</a><a href="{{ path('delete_model', {'id': inter.id}) }}"> Supprimer</a></th>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
